<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-12">
        <h3 class="panel-title">
          <%= jianli.user.email %>
        </h3>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="trix-content">
      <p> <%= simple_format(jianli.content) %> </p>
    </div>
    <hr>
    <% if jianli.fujian.present? %>
      <i class="fa fa-paperclip"> </i>
      <%= link_to("Download jianli", jianli.fujian_url) %>
    <% else %>
      No fujian
    <% end %>
  </div>
</div>
