<div class="col-md-12">
  <div class="row box">
    <div class="box-inner col-md-6 col-md-offset-3">
      <h1 class="title">牵手网</h1>
      <p class="slogan">牵手网是一个高级婚恋网站
        <br>
        我们希望借由这个网站
        <br>
        能让大家找到真爱
      </p>
      <p class="lead">
        <%= link_to '速来膜拜', wives_path, class: 'btn btn-danger' %>
      </p>
    </div>
  </div>
</div>
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">找真爱一定要上珍爱网</h2>
        <p class="lead">……</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'header.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>
<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">一定要把履历写好再投</h2>
        <p class="lead">履历如果不会写就一定要多上网寻求帮助，例如<a target="_blank" href="#">Nic 的 Blog！</a>啦啦啦啦啦啦啦</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag 'header.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">不写好简历怎么可以得到女神垂青</h2>
        <p class="lead">可以参考<a target="_blank" href="#">资源</a></p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'header.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>
