<div class="text-center">
  <%= link_to("投交履历", new_husband_jianli_path(@husband), :style => "font-size: 30px; text-decoration:underline;") %>
</div>
<h1><%= @husband.title%></h1>
<p><%= simple_format(@husband.description)%></p>
